extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jesse Sawyer

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm a Full Stack JavaScript developer currently enrolled in the Treehouse Techdegree program. I'm based in Toronto, ON and looking for remote or local work!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Node.js
          li Express
          li API
          li HTML 
          li CSS
        h6 Contact Info

        //- Add your own contact info
        ul
          li 416-937-2383
          li jessebsawyer@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jesse-sawyer-50b914b3/') LinkedIn
        a.button.expanded(href='https://github.com/jessebsawyer') GitHub
        a.button.expanded(href='https://twitter.com/JesseBSawyer') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  